*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.box1{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.zag{
    color: black;
    font-size: 65px;
}
.box2{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.drag{
    background-color: white;
    width: 40%;
    height: 50vh;
    border: 10px dashed gray;
    font-size: 40px;
    color: gray;
}




.check{
    background-color: black;
    color: #fff;
    width: 40%;
    height: 10vh;
    border: none;
    border-radius: 30px;
    font-size: 40px;
}
.check:active{
    background-color: cyan !important;
    color: black;
}
